name: "GiftGuardian"
version: "1.0.0"
slug: "giftguardian"
description: "A personal gift tracker to manage ideas, purchases, and history."
url: "https://github.com/home-assistant/addons"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: application
boot: auto
init: false
map:
  - config:rw
  - share:rw
  - media:rw
options: {}
schema: {}
ingress: true
ingress_port: 5000
panel_icon: mdi:gift
